org.eclipse.swordfish.samples/org.eclipse.swordfish.samples.bpel/BookingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BookingService"
	targetNamespace="http://booking.samples.swordfish.eclipse.org"
	xmlns:tns="http://booking.samples.swordfish.eclipse.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://booking.samples.swordfish.eclipse.org"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://booking.samples.swordfish.eclipse.org">
			<xs:element name="createReservation" type="tns:createReservation" />
			<xs:element name="createReservationResponse" type="tns:createReservationResponse" />
			<xs:element name="findReservation" type="tns:findReservation" />
			<xs:element name="findReservationResponse" type="tns:findReservationResponse" />
			<xs:complexType name="findReservation">
				<xs:sequence>
					<xs:element name="reservationId" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="findReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:reservation" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="flight" type="tns:flight" />
					<xs:element name="id" type="xs:int" />
					<xs:element maxOccurs="unbounded" minOccurs="0" name="passengers"
						nillable="true" type="tns:passenger" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="flight">
				<xs:sequence>
					<xs:element minOccurs="0" name="flightNumber" type="xs:string" />
					<xs:element name="id" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="passenger">
				<xs:sequence>
					<xs:element name="age" type="xs:int" />
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element name="id" type="xs:int" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createReservation">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="passengers"
						type="tns:passenger" />
					<xs:element minOccurs="0" name="flight" type="tns:flight" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createReservationResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="findReservation">
		<wsdl:part name="parameters" element="tns:findReservation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createReservation">
		<wsdl:part name="parameters" element="tns:createReservation">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createReservationResponse">
		<wsdl:part name="parameters" element="tns:createReservationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="findReservationResponse">
		<wsdl:part name="parameters" element="tns:findReservationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="BookingService">
		<wsdl:operation name="findReservation">
			<wsdl:input name="findReservation" message="tns:findReservation">
			</wsdl:input>
			<wsdl:output name="findReservationResponse" message="tns:findReservationResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createReservation">
			<wsdl:input name="createReservation" message="tns:createReservation">
			</wsdl:input>
			<wsdl:output name="createReservationResponse" message="tns:createReservationResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookingServiceSoapBinding" type="tns:BookingService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findReservation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="findReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="findReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createReservation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookingService">
		<wsdl:port name="BookingServicePort" binding="tns:BookingServiceSoapBinding">
			<soap:address location="http://localhost:9090/BookingServiceImplPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
