org.eclipse.swordfish.samples/org.eclipse.swordfish.samples.bpel/ReservationStorageService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ReservationStorageServiceImpl"
    targetNamespace="http://storage.jaxws.samples.swordfish.eclipse.org"
    xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://storage.jaxws.samples.swordfish.eclipse.org"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="unqualified"
            targetNamespace="http://storage.jaxws.samples.swordfish.eclipse.org"
            xmlns:tns="http://storage.jaxws.samples.swordfish.eclipse.org"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="addReservation" type="tns:addReservation" />
            <xs:element name="addReservationResponse"
                type="tns:addReservationResponse" />
            <xs:complexType name="addReservation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="reservation"
                        type="tns:reservation" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reservation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="flight"
                        type="tns:flight" />
                    <xs:element name="id" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="passengers" nillable="true"
                        type="tns:passenger" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="flight">
                <xs:sequence>
                    <xs:element minOccurs="0" name="flightNumber"
                        type="xs:string" />
                    <xs:element name="id" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="passenger">
                <xs:sequence>
                    <xs:element name="age" type="xs:int" />
                    <xs:element minOccurs="0" name="firstName"
                        type="xs:string" />
                    <xs:element name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="lastName"
                        type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addReservationResponse">
                <xs:sequence>

                    <xs:element name="return" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addReservation">
        <wsdl:part element="tns:addReservation" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addReservationResponse">
        <wsdl:part element="tns:addReservationResponse"
            name="parameters">

        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ReservationStorageService">
        <wsdl:operation name="addReservation">
            <wsdl:input message="tns:addReservation"
                name="addReservation">
            </wsdl:input>
            <wsdl:output message="tns:addReservationResponse"
                name="addReservationResponse">
            </wsdl:output>
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="ReservationStorageServiceImplSoapBinding"
        type="tns:ReservationStorageService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="addReservation">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="addReservation">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="addReservationResponse">

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReservationStorageServiceImpl">
        <wsdl:port binding="tns:ReservationStorageServiceImplSoapBinding"
            name="ReservationStoragePort">
            <soap:address
                location="http://localhost:9000/bookingService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>